<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Future Leaders for Open World</h2>
                <hr class="light">
                <p class="text-faded">FLOW is a globally-minded think-and-do
                tank that aims at empowering future leaders who aspire to
                contribute to this and that.</p>
                <a href="#" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
