<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Future Leaders for Open World</h2>
                <hr class="light">
                <p class="text-faded">FLOW promotes experience-sharing between professionals and young
                    enthusiasts on the world’s most pressing challenges. We inspire future generations of global
                    change-makers and advocate the UN sustainable development goals through education and training.</p>
                <a href="#" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>