<div class="half-header">
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/logo/wave.png" width="100px" height="100px"/>
        </div>
    </div>
</div>

<div>
    <h1 class="page-title">
        Our Story
    </h1>
</div>
<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="header-content-outline-main">FUTURE LEADERS FOR OPEN WORLD</h1>
            <hr>
            <p class="header-content-outline-sub">FLOW is a globally-minded think-and-do tank that aims at
                empowering future leaders who aspire to contribute to this and that.</p>
        </div>
    </div>
</header> -->