<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1 class="header-content-outline-main">FUTURE LEADERS FOR OPEN WORLD</h1>
            <hr>
            <p class="header-content-outline-sub">FLOW is a globally-minded think-and-do tank that aims at
            empowering future leaders who aspire to contribute to this and that.</p> -->
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
