<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <img src="img/logo/9-sky.png" class="img-responsive" alt=""> -->
            <h1 class="header-content-outline-main">FUTURE LEADERS FOR OPEN WORLD</h1>
            <hr>
            <!-- <p class="header-content-outline-sub">FLOW is a globally-minded
            think-and-do tank that aims at empowering future leaders who
            aspire to contribute to this and that.</p> -->
            <p class="header-content-outline-sub" style="font-weight: 600;"">
                Bridging expertise across generations and nations
            </p>
            <a href="#about" class="btn btn-primary btn-xl
            page-scroll">Find out more</a>
        </div>
    </div>
</header>