<div class="teaser-image" {% if page.image %}style="background-image: url({{ page.image }})" {% endif %}>
</div>

<div class="blog-header">
    <!-- {% if page.logo %}
    <a class="blog-logo" href="{{site.url}}{{site.baseurl}}"
        style="background-image: url('{{ page.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% elsif site.logo %}
    <a class="blog-logo" href="{{site.url}}{{site.baseurl}}"
        style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %} -->
    {% if page.ukraine %}
    <div id="multicolor-ukraine">
        <h1 class="blog-title no-color">{{ page.title }}</h1>
    </div>
    {% else %}
        <h1 class="blog-title">{% unless page.skip_post_title %}{{page.title }}{% endunless %}</h1>
    {% endif %}
    <h2 class="blog-description">{% unless page.skip_desc %}{{page.description }}{% endunless %}</h2>
    <div class="custom-links">
        {% for social in site.social %}
        {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {%
            endif %}">
            <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
        {% endfor %}
        <a href={{ "/about/" | prepend: site.baseurl }}>About</a>
    </div>
</div>