<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-duotone fa-bullseye wow bounceIn text-primary"></i>
                    <h3>Goal</h3>
                    <p class="text-muted">Our goal is to boost youth's participation both in research and practice, and empower them to contribute our five issue areas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Vision</h3>
                    <p class="text-muted">Through our network of volunteers, donors, and partners, we are building a more peaceful and sustainable world.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Mission</h3>
                    <p class="text-muted">We give a platform to aspiring young professionals to advocate changes and make an impact within their communities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your think-tanks with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
