.half-header {
    position: relative;
    width: 100%;
    min-height: auto;
    // height: 500px;
    background-position: center;
    background-image: url('../img/half-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;

    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;

        .header-content-inner {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: 768px) {
        min-height: 45%;

        .header-content {
            position: absolute;
            top: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;

            .header-content-inner {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;

                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.page-title {
    margin: 0;
    padding: 84px 16px 8px;
    font-size: 50px !important;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333;
}

.teaserimage {
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
}

.leader-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.leader-img {
    max-width: 256px;
    border-radius: 50%;
    box-shadow:
        0 0 0 4px white,
        0 0 0 5px black;
}

.dark-bg:hover {
    cursor: pointer;
}

.leader-name {
    font-size: 25px;
    font-weight: 700;
}

.leader-role {
    max-width: 256px;
    text-transform: uppercase;
}

.dark-bg {
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: relative;
}

.overlay-text {
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #333;
}

.text {
    font-size: 17px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.dark-bg:hover .overlay-text {
    opacity: 0.8;
}

.dropdown-header {
    // In order for subsublinks to be closer
    // margin-top: 0;
    margin-bottom: 0;
    // font-size: 14px;
    text-transform: uppercase;
}

.dropdown-subitem {
    text-indent: 6%;
    padding-right: 20%;
}

.dropdown-menu>li>a {
    // The indent under subitem pushes the link to the right
    // so we make some space here.
    padding: 3px 40px 3px 20px;
}

#multicolor-ukraine {
    background-image: url(../img/ukraine-bg.jpg);
    background-size: 90% 100%;
    background-position: fixed;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nice-link {
    color: #017698;
    text-decoration: underline;
}

.ukraine-grid-img {
    // width: 100%;
    // max-width: 310px;
    // height: 200px;
    padding: 10px;
}

.participant-name {
    padding-left: 10px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 2px;
}

.participant-desc {
    width: 90%;
    max-width: 310px;
    padding-left: 10px;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    min-height: 80px;
}
