<div id="{{include.card-id}}" class="card mb-3 mw-9" style="display: none;">
    <div class="row no-gutters">
        <div class="col-md-4 mt-5">
            <img src="{{include.card-img}}" class="card-img" width="100%">
            <h2 class="card-title fancy-name">{{include.name}}</h2>
            <h2 class="card-title fancy-lname">{{include.lname}}</h2>
        </div>
        <div class="col-md-8">
            <div class="card-body vertical-line">
                <p class="card-text">{% include bios/{{include.card-text}}.md %}</p>
                <p onclick="replace('{{include.card-id}}', 'all-leaders')" class="text-muted btn">
                    Close
                </p>
            </div>
        </div>
    </div>
</div>